@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-mono';
  src: url('../fonts/RobotoMono-VariableFont_wght.ttf');
}

:root {
  --body-bg-color: #adb5bd;
  --body-text-color: black;
  --header-btn-color: rgb(202, 196, 196);
  --header-btn-hover-color: rgb(219, 214, 214);
  --book-bg-color: #f8f9fad3;
  --marker-read-color: rgba(60, 255, 0, 0.534);
  --marker-read-hover-color: rgba(154, 241, 127, 0.781);
  --marker-not-read-color: rgba(60, 255, 0, 0.534);
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --delete-color: red;
  --delete-hover-color: rgb(250, 120, 120);
  --button-font-size: 1.2rem;
  --pd-horizontal: 10%;
  --btn-border-radius: 5px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--body-bg-color);
  color: var(--body-text-color);
  font-family: 'Poppins', 'Roboto-mono', sans-serif;
  font-weight: 400;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem var(--pd-horizontal);
  background-color: var(--book-bg-color);
  box-shadow: var(--shadow);
}

button {
  font-size: var(--button-font-size);
  cursor: pointer;
  border: none;
}

.header .buttons {
  margin-left: auto;
}

.header-btn:first-child {
  margin-right: 50px;
}

.header-btn {
  font-size: var(--button-font-size);
  background-color: var(--header-btn-color);
  padding: 10px 30px;
  border-radius: var(--btn-border-radius);
}

.header-btn:hover {
  background-color: var(--header-btn-hover-color);
}

.header .title {
  flex: 1;
  font-size: 2rem;
}

.books-section {
  padding: 40px var(--pd-horizontal) 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  width: 100%;
}

.book-container {
  background-color: var(--book-bg-color);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  padding: 1em;
  font-size: 1.5rem;
  border-radius: 10px;
  box-shadow: var(--shadow);
  border: 3px solid black;
  min-height: 300px;
}

.book-container > .book-info {
  font-family: 'Roboto-mono', 'Poppins', Helvetica, sans-serif;
}

.delete {
  position: absolute;
  background: none;
  border: none;
  top: 10px;
  cursor: pointer;
  right: 10px;
  color: var(--delete-color);
}

.delete:hover {
  color: var(--delete-hover-color);
}

.read-marker {
  font-weight: bold;
  padding: 0.8em 0;
  margin-top: 20px;
  border-radius: var(--btn-border-radius);
  background-color: var(--marker-read-color);
  margin-top: auto;
}

.read-marker:hover {
  background-color: var(--marker-read-hover-color);
}

.footer {
  margin-top: 200px;
  padding: 10px 0;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  bottom: 0;
  font-size: 1rem;
  color: black;
  display: flex;
  width: 100vw;
  justify-content: center;
  gap: 5px;
}

.fab {
  color: black;
}

@media all and (max-width: 790px) {
  .books-section {
    --pd-horizontal: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  .header {
    --pd-horizontal: 20px;
  }
}

@media all and (max-width: 650px) {
  .books-section {
    display: flex;
    flex-direction: column;
  }
  body {
    min-width: fit-content;
  }
}
